h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html,body{
	font-family: 'Open Sans', sans-serif;
	background:#f5f3f4;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head-nav {
  float: left;
}
.head-nav ul{
	margin:0;
	padding:0;
}
.head-nav ul li{
	display:inline-block;

}
.head-nav ul li a {
  display: inline-block;
  padding: 0.5em 1em;
  color: #621622;
  text-decoration: none;
  font-size: 1.1em;
}
.head-nav ul{
	padding:0;
	margin: 0;
}

.head-nav ul li a:hover, .head-nav ul li.active a{
	color:#fff;
	background:#D96B66;
	border-radius: 3px;
    -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}
.logo {
  float: left;
  width: 15%;
}
.logo a {
	display: block;
}
.header {
  padding: 1.5em 0;
  background-color: #f2f0f1;
  box-shadow: 12px -5px 39px -12px;
}
.footer p {
  color: #fff;
  font-size: 1em;
  line-height: 1.8em;
  vertical-align: middle;
  margin: 0.4em 0;
}
.footer p a{
  color: #fff;
  text-decoration:none;
}
.footer p a:hover{
	color:#5A9522;
}
.footer {
  padding: 1em 0;
  background-color:#D96B66;
}
.footer-right ul {
  padding: 0;
}
.footer-right li {
  display: inline-block;
  margin: 0 0.1em;
}
.footer-left {
  float: left;
}
.footer-right {
  float: right;
}

/*--register--*/
.register {
  padding: 100px 0;
  min-height: 600px;
}
.register-top-grid h3, .register-bottom-grid h3 {
  color: #1A1A1A;
  font-size: 1.2em;
  padding-bottom: 15px;
  margin: 0;
  font-weight: 600;
  font-family: 'Libre Baskerville', serif;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	margin: 10px 0;
    display: inline-block;
}
.register-top-grid span, .register-bottom-grid span {
	color:#999;
	font-size: 0.85em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid input[type='text'], .register-bottom-grid input[type='text'],.register-top-grid input[type='password'], .register-bottom-grid input[type='password']{
	border: 1px solid #5B9822;
	outline:none;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}


.register-but{
	margin-top:30px;
}
.register-but form input[type="button"] {
  background:#5fa022;
  color: #FFF;
  font-size: 1em;
  padding: 0.6em 2em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  text-transform: uppercase;
  border: none;
  outline: none;
}
.register-but input[type='button']:hover {
	background:#D96B66;
}
div.register-bottom-grid {
	margin-top:30px;
}
/*--login--*/
.login-left {
	padding: 0;
}
.login-left h3, .login-right h3 {
  color: #1A1A1A;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  font-weight: 600;
  font-family: 'Libre Baskerville', serif;
}
.login-left p, .login-right p {
	color: #868583;
	display: block;
	font-size: 1em;
	margin: 0 0 2em 0;
	line-height: 1.8em;
}
.acount-btn {
	background: #5fa022;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type='button']:hover{
	background:#D96B66;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 2em 0;
}
.login-right span {
	color: #999;
	font-size:0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type='text'] {
	border: 1px solid #5B9822;
	outline:none;
	width: 96%;
	font-size:0.8125em;
	padding: 1em;
}
.login-right input[type='password'] {
	border: 1px solid #5B9822;
	outline:none;
	width: 96%;
	font-size:0.8125em;
	padding: 1em;
}
.register-top-grid input[type='password'], .register-bottom-grid input[type='password'] {
  border: 1px solid #5B9822;
  outline: none;
  width: 96%;
  font-size: 1em;
  padding: 0.5em;
}
.login-right input[type='button'] {
	background:#5fa022;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
a.forgot {
	font-size: 0.875em;
	margin-right: 11px;
	color:#999;
}
.login-page {
  padding: 100px 0;
  min-height: 600px;
}

/*mealList*/
.order-top li {
    display: inline-block;
    vertical-align: middle;
}
li.im-g {
    float: left;
    width: 12%;
}
li.data {
    float: left;
    width: 50%;
}
li.bt-nn {
    float: right;
    width: 8%;
    margin: 3em 0;
    text-align: right;
}
.order-top {
    padding: 1.5em 0;
    border-bottom: 1px dotted #5fa022;
}
.orders {
    padding: 3em 0;
}

a.morebtn {
    display: block;
    text-align: center;
    margin-right: 20px;
    font-size: 1em;
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    background: #D96B66;
    padding: 10px 18px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}

/* Rectangle In */
.hvr-rectangle-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #2098d1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#5A9522;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 3px;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
    color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}
